@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
    --dark-color: #161925;
    --light-color: #EAE0CC;
    --blue-color: #4F5592;
    --red-color: #E84855;
    --green-color: #629460;
}

body {
    background-color: var(--dark-color) !important;
    color: var(--light-color) !important;
    width: 100%;
    height: 100%;
}

.text-bold-400 {
    font-weight: 400;
}

.text-bold-700 {
    font-weight: 700;
}

.text-orange {
    color: rgb(255, 98, 0) !important;
}

.text-red {
    color: var(--red-color) !important;
}

.text-green {
    color: var(--green-color) !important;
}

.text-blue {
    color: var(--blue-color) !important;
}

.home-container {
    height: 100vh;
}

.home-container a {
    text-decoration: none;
    color: var(--light-color);
}

.home-container a:hover {
    color: var(--light-color);
}

.login-container {
    height: 100vh;
}

.login-card {
    background-color: #f6f5f7;
    color: var(--dark-color);
    border-radius: 5px;
    font-family: 'Montserrat', 'sans-serif';
    padding: 2rem 3rem !important;
}

.login-card h2 {
    font-weight: bold;
    font-size: 2.5rem;
}

.login-card input {
  background: #eee !important;
  border:none;
  padding:12px 15px;
  margin: 8px 0;
  width: 100%;
}

.login-card input:focus {
    border-color: var(--green-color);
}

.login-card .signin-btn {
    border-radius: 20px;
    border: 1px solid var(--green-color);
    background: var(--green-color);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.float {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;
    background-color: var(--green-color);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 2px rosybrown;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.float:hover {
    color: var(--light-color);
    width: 50px;
    height: 50px;
    font-size: 22px;
}

.my-float {
    margin-top: 22px;
}

.bg-light {
    background-color: antiquewhite;
}

/* Chat Component */
.chat-header {
    width: 100vw;
    background-color: var(--light-color);
    color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
}

.chat-header h1 {
    font-size: 20px;
    align-self: center;
}

.chat-header h1 > p {
    font-size: 1rem;
    line-height: 1.3;
    display: inline-block;
    margin-left: 0.3rem;
}

.chat-header p {
    margin: 0;
}

/* Chat Sidebar */
.chat-sidebar {
    border: 1.5px solid #ccc;
    width: 25%;
    height: calc(100vh - 60px);
    display: inline-block;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding-left: 10px;
    position: -webkit-sticky;
        position: sticky;
        top: 0;
}

.chat-sidebar .member-count {
    font-size: 1.5rem;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 10px;
}

.chat-sidebar .members {
    list-style-type: none;
    padding: 0;
    height: calc(100% - 140px);
    overflow-y: auto;
}

.chat-sidebar .members .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-sidebar .members li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
